#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}

a {
    font-size: xx-large;
    text-decoration: none;
    color: rgb(255, 196, 1)
}

.snowflake {
    padding-left: 15px;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #ebebeb;
    user-select: none;
    z-index: 1000;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.snowflake:hover {
    cursor: default
}

body {
    text-align: center;
    background-image: url("1.png");
    background-size: 101% 100%;
    background-attachment: fixed;
    color: #fbfc03;
}

#audio {
    position: relative;
    height: 100px;
    margin-top: 50px;
}

img {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar-custom {
    font-size: xx-large;
    background-color: #ea3913;
}

.dropdown .dropdown-menu a {
    font-family: 'Amatic SC', cursive;
    color: yellow;
    text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link {
    font-size: xx-large;
    font-family: 'Amatic SC', cursive;
    color: yellow;
}

.dropdown-item {
    font-family: 'Amatic SC', cursive;
}

.container .dropdown .dropdown-menu a:hover {
    color: #fff;
    background-color: #ee4e4e;
    border-color: #fff;
}

/* h1 {
    color: #fbfc03;
    margin-top: 50px;
    font-size: 80px;
    text-align: center;
} */

body {
    display: grid;
    place-items: center;
    /* cái này làm thanh nav-bar ngắn lại và chui vào giữa*/
    margin: 0;
    height: 100vh;
}

body .inner {
    position: relative;
    width: 600px;
    height: 250px;
}

body .inner svg {
    position: absolute;
    z-index: 1;
    left: 0%;
}

body .inner .greeting {
    width: 600px;
    margin: auto;
}

body .inner .greeting svg.newyear1 {
    width: 100%;
    height: 140px;
    top: 65px;
}

body .inner .greeting svg.newyear1 .anim1 {
    fill: none;
    stroke: #fbfc03;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 10px;
    stroke-dasharray: 2824.1877441406;
    stroke-dashoffset: 2824.1877441406;
    animation: draw 2.7s linear 0.5s forwards;
}

body .inner .greeting svg.newyear2 {
    width: 50%;
    margin: auto;
    height: 90px;
    top: 39%;
    left: 0;
    right: 0;
}

@media only screen and (min-width: 680px) {
    body .inner .greeting svg.newyear2 {
        width: 100%;
        height: 158px;
        top: 225px;
    }
}

body .inner .greeting svg.newyear2 .anim2 {
    fill: none;
    stroke: #fbfc03;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 10px;
    stroke-dasharray: 726.2219848633;
    stroke-dashoffset: 726.2219848633;
    animation: draw 1.2s linear 3.2s forwards;
}

body .inner .greeting svg.underline {
    width: 88%;
    top: 170px;
    right: 0;
    width: 86%;
    left: 10%;
}

@media only screen and (min-width: 680px) {
    body .inner .greeting svg.underline {
        top: 200px;
    }
}

body .inner .greeting svg.underline .underlineAnim {
    fill: none;
    stroke: #fbfc03;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 10px;
    stroke-dasharray: 1452.0181884766;
    stroke-dashoffset: 1452.0181884766;
    animation: draw 0.4s linear 5.3s forwards;
}

body .inner .greeting svg.shine {
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    margin: auto;
    width: 100px;
}

body .inner .greeting svg.shine .shineAnim {
    fill: none;
    stroke: #fbfc03;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 10px;
    stroke-dasharray: 441.9982910156;
    stroke-dashoffset: 441.9982910156;
    animation: draw 0.5s linear 4.6s forwards;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

body .inner .circles .circle-l {
    height: 30px;
    width: 30px;
}

body .inner .circles .circle-s {
    height: 12px;
    width: 12px;
}

body .inner .circles .circle-l,
body .inner .circles .circle-s {
    background-color: #fbfc03;
    border-radius: 50%;
    position: absolute;
    animation: scale 0.5s forwards ease-out;
    animation-iteration-count: 3;
    opacity: 0;
}

body .inner .circles .circle-l:nth-of-type(1),
body .inner .circles .circle-s:nth-of-type(1) {
    left: 9%;
    top: 2%;
    animation-delay: 6s;
}

body .inner .circles .circle-l:nth-of-type(2),
body .inner .circles .circle-s:nth-of-type(2) {
    right: 10%;
    top: 10%;
    animation-delay: 6.2s;
}

body .inner .circles .circle-l:nth-of-type(3),
body .inner .circles .circle-s:nth-of-type(3) {
    left: 1%;
    top: 80%;
    animation-delay: 6.4s;
}

body .inner .circles .circle-l:nth-of-type(4),
body .inner .circles .circle-s:nth-of-type(4) {
    right: 30%;
    top: 95%;
    animation-delay: 6.7s;
}

body .inner .circles .circle-l:nth-of-type(5),
body .inner .circles .circle-s:nth-of-type(5) {
    right: 35%;
    top: 22%;
    animation-delay: 6.8s;
}

body .inner .circles .circle-l:nth-of-type(6),
body .inner .circles .circle-s:nth-of-type(6) {
    left: 16%;
    top: 55%;
    animation-delay: 7.1s;
}

body .inner .circles .circle-l:nth-of-type(7),
body .inner .circles .circle-s:nth-of-type(7) {
    left: 27%;
    top: 16%;
    animation-delay: 6.7s;
}

body .inner .circles .circle-l:nth-of-type(8),
body .inner .circles .circle-s:nth-of-type(8) {
    right: 5%;
    bottom: 24%;
    animation-delay: 6.5s;
}

body .inner .circles .circle-l:nth-of-type(9),
body .inner .circles .circle-s:nth-of-type(9) {
    left: 25%;
    bottom: 2%;
    animation-delay: 6.3s;
}

@keyframes scale {
    0% {
        opacity: 0;
        transform: scale3d(0, 0, 0);
    }
    100% {
        opacity: 1;
    }
}